/* SINGLE DOCUMENT */

.single-document {
  .section-header {
    float: left;
    width:100%;
    margin:0;

    h1 {
      font-size: 40px;
      margin:30px 0;
    }
  }

  .page-content {
    .document-item {
      border-top: 1px solid #ccc;
      float: left;
      padding: 30px 0;
      width: 100%;

      .action-buttons {
        display: inline-block;
        float: left;

        &--view {
          display: inline-block;
          float: left;

          a {
            display: block;
            padding: 0 20px;
            background: #000;
            padding: 15px 30px;
            color: #fff;
            border-radius: 30px;

            &:before {
              content: '\e819';
              font-family: "fontello";
              margin-right: 10px;
            }
          }
        }

        &--download {
          display: inline-block;
          float: left;

          a {
            display: block;
            padding: 0 20px;
            background: #000;
            padding: 15px 30px;
            color: #fff;
            border-radius: 30px;
            margin-left: 10px;

            &:before {
              content: '\e81a';
              font-family: "fontello";
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}